<%- include('partials/header') %>

<h2>All Blogs</h2>
<ul>
  <% blogs.forEach(blog=>{ %>
  <li>
    <a href="blogs/<%= blog.id %>"><%= blog.title %></a> by 
    <b><%= blog.author %></b>
<% if(blog.author==='Admin' ) { %>
    <span style="color: red;">(Admin)</span>
      <a href="/delete/<%= blog.id %>" style="color: red; margin-left: 10px;"
        >[Delete]</a
      >
      <% } %>
    </li>
    <% }) %>
</ul>

<%- include('partials/footer') %>